{{extend 'layout.html'}}

{{block head}}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lily Script One">
    <link href="/Cifra/static/css/cifra.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
{{end}}


{{block center}}
<script>

        $(".span9").click(function (e) {
            $("#save").show();
            e.stopPropagation();
        });

        $(document).click(function() {
            $("#save").hide();
         });

    $(document).ready(function(){
        var editedContent;
        $('#save').click (function(){
            editedContent = $('#lyrics').html();
            $.ajax({
            type: "POST",
            url: "update_song",
            data: editedContent,
            });
        });
    });

</script>

<p id="lyrics" contenteditable="true">

    {{=session.letra}}
</p>

{{end}}

{{block right_sidebar}}
    <div id="right_sidebar">
        <form >
            <INPUT id="evernote" type="button" value=""
                onclick="ajax('evernote',[''],':eval')"/>
        </form>
        <br>
        <form action="get_me_a_pdf">
            <button id="pdf_button" type="submit"></button>
        </form>
        <button id="save">Save</button>
    </div>
{{end}}
